button {
	background-color: aqua;
	border: solid 5px blueviolet;
	border-radius: 2px;
	font-weight: bold;
	margin: 10px;
	height: 50px;
	width: 75px;
}

h1 {
	font-weight: bold;
}

.wrapper {
	border-top: solid 2px darkgray;
	border-bottom: solid 2px darkgray;
	padding: 20px;
	margin: 30px;
}

span {
	color: darkgrey;
}
